<div class="container">
  <h3>Hey <%= current_user.first_name %>! Those are your reservations:</h3>
  <table class="reservation">
  <thead>
    <tr class="headers">
      <th class="header">
        Status
      </th>
      <th class="header">
        Check In
      </th>
      <th class="header">
        Check Out
      </th>
      <th class="header">
        Reserved On
      </th>
      <th class="header">
        Post
      </th>
      <th class="header">
        Host
      </th>
      <th class="header">
        Total
      </th>
      <th class="header">
        Details
      </th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr class = "row-table">
        <td class="cells">
          <%= booking.status.capitalize %>
        </td>
        <td class="cells">
          <%= booking.start_date %>
        </td>
        <td class="cells">
          <%= booking.end_date %>
        </td>
        <td class="cells">
          <%= booking.created_at.year.to_s + "-" + booking.created_at.month.to_s + "-"  + booking.created_at.day.to_s%>
        </td>
        <td class="cells">
          <%= booking.country.name %>
        </td>
        <td class="cells">
          <%= booking.country.user.first_name %>
        </td>
        <td class="cells">
          $<%= (booking.country.price_p_day*(booking.end_date-booking.start_date)).to_i%>
        </td>
        <td class="cells">
          <%= link_to "Details", booking_path(booking.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <!-- ******** DASHBOARD AS A HOST ********** -->
  <% if @received_bookings.present? %>
  <h3 class="host"> Get your country ready for:</h3>
  <table class="host-table">
  <thead>
    <tr class="headers">
      <th class="header">
        Status
      </th>
      <th class="header">
        Check In
      </th>
      <th class="header">
        Check Out
      </th>
      <th class="header">
        Reserved On
      </th>
      <th class="header">
        Post
      </th>
      <th class="header">
        Guest
      </th>
      <th class="header">
        Total
      </th>
      <th class="header">
        Details
      </th>
    </tr>
  </thead>
  <tbody>
    <% @received_bookings.each do |booking| %>
      <tr class = "row-table">
        <% if booking.status == "pending" %>
        <td class="cells">
           <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pending
             </button>
            <div class="dropdown-menu"  data-controller ="menu" aria-labelledby="dropdownMenuButton">
              <%= link_to "Accept", booking_path(booking, query:"accept"), method: :patch,  class:"dropdown-item", remote: true%>
              <%= link_to "Cancel", booking_path(booking, query: "cancel"), method: :patch, class:"dropdown-item", remote: true%>
            </div>
          </div>
        </td>
        <% else %>
        <td class="cells">
          <%= booking.status.capitalize %>
        </td>
        <% end %>
        <td class="cells">
          <%= booking.start_date %>
        </td>
        <td class="cells">
          <%= booking.end_date %>
        </td>
        <td class="cells">
          <%= booking.created_at.year.to_s + "-" + booking.created_at.month.to_s + "-"  + booking.created_at.day.to_s%>
        </td>
        <td class="cells">
          <%= booking.country.name %>
        </td>
        <td class="cells">
          <%= booking.user.first_name %>
        </td>
        <td class="cells">
          $<%= (booking.country.price_p_day*(booking.end_date-booking.start_date)).to_i%>
        </td>
        <td class="cells">
          <%= link_to "Details", booking_path(booking.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <% end %>
</div>
