<div class="container-box">
  <div class="cards-container">
    <% @countries.each do |country| %>
    <%= link_to country_path(country) do  %>
        <% if country.photo.attached? %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path country.photo.key %>');">
            <%= country.name %>
          </div>
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/1600x900/?map)">
            <%= country.name %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div id="map"
     style="height:100vh"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>




