


<div class="container">
  <% if @country.photo.attached? %>
  <div class ="show-banner" style= "background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.8)), url('<%= cl_image_path @country.photo.key %>')">
<% else %>
<div class ="show-banner" style= "background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.8)), url('https://source.unsplash.com/1600x900/?map')">
<% end %>
  </div>
</div>

<div class="container">
  <div class="container-position">

    <h3 id="letter-space"> <strong><%= @country.name.upcase %></strong> </h3>
    <h3 id="letter-space"> Price per day: <%= @country.price_p_day %>$ </h3>
    <h5 id="letter-space"> <%= @country.description %> </h5>
  </div>
</div>
<div class="container">
  <h5><strong>Host:</strong> <%= @country.user.first_name%> <%= @country.user.last_name%></h5>
  <br>
  <%= link_to "Back to All Countries", countries_path, class: "btn-flat" %>
</div>
<br>
<br>

<%= render "bookings/new" %>




<!-- <p>Welcome back: <%= current_user.first_name %></p> -->

